<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
</head>

<body>
    <div class="row">

    <h3 th:if="${name} != null" th:text="${name} + ', I hope you interested to hire me.'"></h3>
    <h3 th:unless="${name} != null">This is my CV</h3>
        <div class"col-sm-6">
                <h1>REVAN RAGHA ANDHITO</h1>
                <h4>Birthplace</h4>
                <h3>Jakarta</h3>
                <h4>Birthdate</h4>
                <h3>April 15th 1999</h3>
                <h4>Address</h4>
                <h3>Acropolis Karadenan Blok KC 15 Cibinong, Kab Bogor</h3>

                <p>I am a computer science student in Universitas Indonesia.
                I am an ambivert type person that organized, initiative, and
                visionary with a lot of creative and innovative ideas. I am
                passionate about web programming, UI/UX, and graphic
                design. I like to try new things and wants to be a better and
                helpful person in tech industry.</p>
        </div>

        <div class="col-sm-6">
            <span style="padding: 50px;">
                <h4 class="bold">EDUCATION</h4>
                <div class="card">
                    <div class="card-body">
                        <h5 class="bold">2017-Now</h5>
                        <h5>Computer Science, Universitas Indonesia</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="bold">2014-2017</h5>
                        <h5>SMA Negeri 1 Bogor</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="bold">2011-2014</h5>
                        <h5>SMP Negeri 8 Bogor</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="bold">2005-2011</h5>
                        <h5>SDIT Al-Madinah</h5>
                    </div>
                </div>
            </span>
        </div>
    </div>

</body>
</html>
