html, body {
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    background-color: #18426A;
    padding: 50px;
}

/* Text style */
h1 {
    font-weight: 700;
    font-size: 36px;
}
h1.greeting {
    text-align: center;
    font-size: 10px;
}
h2 {
    font-weight: 700;
    font-size: 28px;
}
h3{
    font-weight: 300;
    font-size: 18px;
}
h4 {
    font-weight: normal;
    font-size: 14Px;
}
h4 {
    font-weight: normal;
    font-size: 18px;
}
p {
    font-weight: normal;
    font-size: 14px;
}
.paragraph {
    text-align: justify;
    float: left;
    width: 70%;
}
.bold {
    font-weight: bold;
}

/* Assets line */
.line {
    background-color: #09B1B1;
    height: 7px;
    margin: 5% 0 5% 0;
}
div.card {
    margin-bottom: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #18426A;
}
div.card:hover {
    box-shadow: 0px 4px 7px 0 rgba(0,2,0,0.4);
}
@media only screen and (max-width: 500px) {
    .parallax {
        padding: 20px;
    }
    h1 {
        margin-top: 10rem;
        font-size: 52px;
    }
    .paragraph {
        width: 100%;
    }
}
